In [24]:
# 10미만의 자연수에서 3과 5의 배수를 구하면 3,5,6,9이다. 이들의 총합은 23이다.

# 1000미만의 자연수에서 3,5의 배수의 총합을 구하라.

# print(3+5+6+9+12+15+18+20+21+...+)
# 3의배수 + 5의배수

a = list(range(0,1000,3))
b = list(range(0,1000,5))
sum(a+b)

266333

In [26]:
for i in range(1,11):
    print(i,end='')

12345678910

In [31]:
range(1,11)

range(1, 11)

In [1]:
list(range(1,11))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [4]:
# 누적(합계) 로직

def sum_b(a,b):
    total = 0
    for i in range(a,b+1):
        total += i
    print(total)

sum_b(50,100)

3825

In [134]:
# 교환 로직

def sum(a,b):
    total = 0
    if a > b:
        c = a
        a = b
        b = c
        for i in range(a,b+1):
            total += i
        print(total)

sum(10,1)

55

In [20]:
# 최대 최소

number_list = []
for l in range(10):
    temp = random.randrange(1,101)
    number_list.append(temp)
    
print(number_list)

[20, 76, 88, 28, 22, 1, 38, 20, 54, 57]

In [38]:
import random

number_list = []
for l in range(10):
    temp = random.randrange(1,101)
    if temp not in number_list:
        number_list.append(temp)
        
print(number_list,len(number_list))

[16, 1, 99, 22, 8, 88, 34, 62, 11, 38] 10

In [3]:
import random

number_list = []
while True:
    temp = random.randrange(1,101)
    if temp not in number_list:
        number_list.append(temp)
        
    if len(number_list) ==10:
        break

print(number_list,len(number_list))

[68, 76, 31, 24, 37, 95, 75, 36, 46, 57] 10

In [13]:
max = number_list[0]
for val in number_list:
#     print(val,end=' ')
    if val > max:
        max = val
    pass

print(max)

95

In [2]:
import random

list = []

for i in range(10):
    list.append(random.randrange(1,1000))
    
list

[398, 386, 153, 606, 259, 741, 396, 14, 957, 909]

In [3]:
max(list)

957

In [21]:
# a = number_list[1:len(number_list)]
# a = number_list[1:10]
# a = number_list[1:]
a = number_list[1:-2]
print(a)

[76, 31, 24, 37, 95, 75, 36]

In [32]:
min = number_list[0]
for val in number_list[1:]:
    if val < min:
        min = val
    pass

print(min)

24

In [2]:
# random
import random # 0.0 <= random < 1.0

a = random.random()
print(a)

b = random.randrange(1,101)
print(b)

0.6084967332018648
92

In [113]:
# 45개의 공이 들어가있는 추첨기를 표현하라

import random

ball_list = []
while True:
    ball = random.randrange(1,46)
    if ball not in ball_list:
        ball_list.append(ball)
    
    if len(ball_list) == 45:
        break
        
print(ball_list)

[1, 14, 9, 11, 28, 23, 21, 32, 16, 34, 31, 7, 3, 25, 27, 30, 35, 36, 15, 20, 4, 17, 19, 33, 39, 37, 44, 2, 10, 24, 12, 42, 26, 22, 29, 45, 40, 43, 6, 41, 13, 38, 18, 5, 8]

In [128]:
print(10 == 100)
print(10 != 100)
print(10 > 100)
print(10 < 100)
print(10 <= 100)
print(10 >= 100)

False
True
False
True
True
False

In [146]:
a = float(input("> 1번째 숫자:"))
b = float(input("> 2번째 숫자:"))
print()

if a > b :
    print("처음 입력했던 {}가 {}보다 더 큽니다.".format(a,b))
if a < b :
    print("두 번째로 입력했던 {}가 {}보다 더 큽니다.".format(b,a))

> 1번째 숫자:10
> 2번째 숫자:100

두 번째로 입력했던 100.0가 10.0보다 더 큽니다.

In [147]:
a = float(input("> 1번째 숫자:"))
b = float(input("> 2번째 숫자:"))
print()

if a > b :
    print(f"처음 입력했던 {a}가 {b}보다 더 큽니다.")
if a < b :
    print(f"두 번째로 입력했던 {b}가 {a}보다 더 큽니다.")

> 1번째 숫자:10
> 2번째 숫자:100

두 번째로 입력했던 100.0가 10.0보다 더 큽니다.

In [8]:
def grade(score):
    if score >= 4.5:
        print("A++")
    if score < 4.5 and score >= 4.2:
        print("A+")
    if score < 4.2 and score >= 3.5:
        print("A")
    if score < 3.5 and score >= 2.3:
        print("B")
    if score < 2.3 and score >= 1.0:
        print("C")
    if score < 1.0 and score >= 0:
        print("F")
        
grade(0.2)

F

In [ ]:
# year = int(input("year > "))
# month = int(input("month > "))
# if year > 1 and month > 1 :
#     print(f"{year}년{month}월")
# print("일\t월\t화\t수\t목\t금\t토")
# while True:
#     feb = 0
#     month = [31, feb, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
#     if year % 400 == 0 or (year % 4 == 0 and year % 100 == 0):
#         feb = 29
#     else:
#         feb = 28
#     if year != 100000000 : 
#         print()
#     print()

year > 2020
month > 10
2020년10월
일	월	화	수	목	금	토

In [ ]:
hi = input("입력 >")
clock = input("입력 :")

if