In [1]:
# 스마트팩토리에 대해서도 공부해보기

# 데이터 분석의 정의와 결과물(어떤 것들이 산출되는가)
# 정의 : 어떠한 기준을 가지고 자료들을 유의미하게 분석하는 것
# 데이터 마이닝 -> 데이터 베이스 -> (데이터 웨어하우스) -> 데이터 분석

#  데이터 분석을 통해 조직은 모든 데이터(실시간, 역사적, 정형, 비정형, 및 질적인)를 
# 분석하여 패턴을 식별하고 통찰력을 생성하여 정보를 제공하고 경우에 따라 
# 결정을 자동화하고 인텔리전스와 행동을 연결할 수 있습니다.

#  인사이트 생성을 목적으로 모든 데이터를 분석해 패턴 식별 및 통찰력 생성을 찾는 것

# 어떤 것이 산출되는가 : 인사이트 생성, 결정 자동화

# 빅데이터 - 기존 데이터베이스의 관리량(수십 테라바이트)을 뛰어넘는 비정형 데이터조차
# 포함해 데이터의 가치를 추출하고 결과를 분석하는 기술

# 특징 : 3V(Volume, Velocity, Variety)
#     데이터의 양, 데이터 생성 속도, 형태의 다양성
#     Velocity :속도는 대용량의 데이터를 빠르게 처리하고 분석할 수 있는 속성
#     Variety : 정형, 반정형, 비정형 데이터로 분류할 수 있다

#     최근에는 가치(Value)나 복잡성(Complexity)를 덧붙이기도 함

In [1]:
# 1

path = './data/Abc1115.csv' # 외부파일 주소
file = open(path,'r') # open = 외부파일 열기 // r = read 읽기 전용
lines = file.readlines()
len(lines) # 데이터 1000개 제대로 불러왔는지 확인

1000

In [66]:
#9 딕셔너리 0 - 학번 1 - 이메일 ... 대치하기
prop_keys = {'학번':0, '이메일':1, '국어':2, '영어':3, '수학':4, '과학':5, '국사':6, '총점':7, '담임코드':8, '성취도':9, '지역코드':10}

In [2]:
# 1. 이차원 리스트
t_score = []
for line in lines:
    temp = line[0:-1].split(',')
    for i in range(2):
        if i != 2:
            continue
        else:
            temp[i] = int(temp[i])
    t_score.append(temp)

In [3]:
t_score[:10]

[['990001', 'addx', ' 17', ' 29', ' 16', ' 49', ' 43', '154', 'C', 'A', 'C'],
 ['990002', 'stch', ' 30', '  9', ' 48', ' 25', ' 81', '193', 'C', 'A', 'A'],
 ['990003', 'gali', ' 93', ' 60', '  6', ' 84', ' 36', '279', 'A', 'C', 'A'],
 ['990004', 'miat', ' 73', ' 22', ' 48', ' 24', ' 72', '239', 'B', 'C', 'C'],
 ['990005', 'oran', ' 33', ' 38', ' 59', ' 58', ' 28', '216', 'C', 'B', 'A'],
 ['990006', 'sj24', ' 27', ' 65', ' 54', ' 77', ' 33', '256', 'B', 'A', 'A'],
 ['990007', 'kor2', ' 33', ' 85', ' 98', ' 60', ' 66', '342', 'A', 'B', 'A'],
 ['990008', 'vsky', ' 41', '  5', ' 99', ' 14', ' 67', '226', 'C', 'A', 'C'],
 ['990009', 'kimd', ' 74', '  4', '  1', ' 33', ' 53', '165', 'B', 'C', 'A'],
 ['990010', 'blue', ' 55', ' 84', ' 50', ' 89', ' 37', '315', 'A', 'B', 'A']]

In [13]:
# 2

student_info = []
for line in lines[:2]: # 확인할 때 1000개 다 확인할 필요 없이 2개만 출력
    temp = line[:-1].split(',')
#     print(temp)
    for index in range(8):
        if temp[index].strip().isdigit(): # strip -> ''제거. isdigit -> 숫자인지 판별
            temp[index] = int(temp[index])
    student_info.append(temp)
    pass

In [11]:
student_info

[[990001, 'addx', 17, 29, 16, 49, 43, 154, 'C', 'A', 'C'],
 [990002, 'stch', 30, 9, 48, 25, 81, 193, 'C', 'A', 'A']]

In [14]:
# 3
t_score = []
for student in student_info:
#     print(student)  # 잘되나 확인
    if student[10] == 'B':
        temp = [student[prob_keys['학번']], student[2], student[3], student[2+3], student[10]] # 학번은 딕셔너리로 해봄
        t_score.append(temp)
    pass

# t_score[:3] # 조건에 맞는 객체 3개 출력

In [15]:
len(t_score) # 조건에 맞는 객체 수(리스트화 된 자료에 len은 자료 수)

300

In [16]:
# 4 t_score에 대해 4번째 자료 기준으로 내림차순하시오

for idx1 in range(len(t_score)-1):
    for idx2 in range(idx1+1, len(t_score)):
        if t_score[idx1][3] < t_score[idx2][3]:
            temp = t_score[idx1]
            t_score[idx1] = t_score[idx2]
            t_score[idx2] = temp
            pass
        pass
    pass

In [17]:
print(t_score[:5])
print(t_score[10][0])

[[990112, 82, 11, 100, 'B'], [990683, 63, 76, 100, 'B'], [990809, 59, 55, 100, 'B'], [990087, 5, 62, 99, 'B'], [990805, 37, 68, 99, 'B']]
990350

In [18]:
# t_score에 대해 4번째 자료 기준으로 내림차순하시오

for idx1 in range(len(t_score)-1):
    for idx2 in range(idx1+1, len(t_score)):
        if t_score[idx1][3] < t_score[idx2][3]:
            temp = t_score[idx1]
            t_score[idx1] = t_score[idx2]
            t_score[idx2] = temp
            pass
        elif t_score[idx1][3] == t_score[idx2][3]:
            if t_score[idx1][0] > t_score[idx2][0]:
                temp = t_score[idx1]
                t_score[idx1] = t_score[idx2]
                t_score[idx2] = temp
    pass

In [19]:
print(t_score[:20])

[[990112, 82, 11, 100, 'B'], [990683, 63, 76, 100, 'B'], [990809, 59, 55, 100, 'B'], [990087, 5, 62, 99, 'B'], [990216, 15, 31, 99, 'B'], [990805, 37, 68, 99, 'B'], [990173, 20, 16, 98, 'B'], [990294, 47, 50, 98, 'B'], [990350, 76, 83, 98, 'B'], [990588, 60, 69, 98, 'B'], [990682, 22, 72, 98, 'B'], [990206, 87, 49, 97, 'B'], [990840, 36, 89, 97, 'B'], [990888, 39, 29, 97, 'B'], [990442, 29, 90, 96, 'B'], [990436, 41, 2, 95, 'B'], [990578, 58, 27, 95, 'B'], [990720, 83, 65, 95, 'B'], [990875, 37, 18, 95, 'B'], [990109, 79, 60, 94, 'B']]

In [20]:
# 5
qz2= []
for std in student_info:
    if std[10] == 'B':
        temp = [std[2]+std[3]]
        qz2.append(temp)
        pass
    pass

In [21]:
qz2[:10]

[[108], [157], [114], [69], [14], [78], [108], [68], [60], [91]]

In [22]:
# 6
max = qz2[0]
for value in qz2[1:]:
    if max < value:
        max = value
        pass
    pass

print(max)

[192]

In [29]:
# 7
qz3 = []
for student in student_info:
    if student[3] + student[4] >= 120:
        if student[9] == 'A':
            point = 5
        elif student[9] == 'B':
            point = 15
        elif student[9] == 'C':
            point = 20
        temp = [student[3], student[4], student[7], studen[9], point]
        qz3.append(temp)
    pass

In [31]:
qz3[:3]

[[85, 98, 342, 'C', 15], [84, 50, 315, 'C', 15], [69, 68, 295, 'C', 5]]

In [32]:
len(qz3)

316

In [33]:
total = 0
for value in qz3:
    total = total + (value[2]+value[4])
    pass

print(total)

99549

In [53]:
# 8

# qz4 = []
# def k_point(s):
#     for student in student_info:
#         s = student[9]
#         a = 'A'
#         b = 'B'
#         c = 'C'
#         if s == a:
#             point = 5
#         elif s == b:
#             point = 15
#         elif s == c:
#             point = 15
#         if student[2] + point >= 50:
#             temp = [student[2], student[7], studen[9], point,student[10]]
#             qz4.append(temp)
#         pass
#     pass

In [57]:
len(k_point('b'))

TypeError: object of type 'NoneType' has no len()

In [64]:
qz4 = []
for student in student_info:
    if student[9] == 'A' or student[9] == 'B':
        if student[10] == 'A':
            point = 5
        elif student[10] == 'B':
            point = 10
        elif student[10] == 'C':
            point = 15
        temp = [student[2], point, student[9], student[10]]
        qz4.append(temp)
        pass
    pass

print(len(qz4))
qz4[:10]

667

[[17, 15, 'A', 'C'],
 [30, 5, 'A', 'A'],
 [33, 5, 'B', 'A'],
 [27, 5, 'A', 'A'],
 [33, 5, 'B', 'A'],
 [41, 15, 'A', 'C'],
 [55, 5, 'B', 'A'],
 [43, 15, 'A', 'C'],
 [77, 15, 'A', 'C'],
 [66, 5, 'B', 'A']]

In [65]:
count = 0
for value in qz4:
    if value[0] + value[1] >= 50:
        count = count + 1
        pass
    pass

print(count)

397

In [71]:
#10 만년달력

def view_month_complete(year,month):
    # 연도와 월 출력
    print("{}년 {}월".format(year,month))
    print("일\t월\t화\t수\t목\t금\t토")
    # 날(일자)이 제자리로 와야함. -> 1일의 요일, 말일의 날 수
    space = 5
    last_day = 31
    for _ in range(space):
        print('\t',end='')
        pass
    for day in range(1,last_day+1):
        print(day,end='\t')
        if (space+day)%7==0:
            print() # 선택적으로 실행
        pass
    pass

In [72]:
import calendar

def view_month_complete(year,month):
    (data1, data2) = calendar.monthrange(year,month) # 읽기전용 리스트
#     print(data1,data2)
    # 연도와 월 출력
    print("{}년 {}월".format(year,month))
    print("일\t월\t화\t수\t목\t금\t토")
    # 날(일자)이 제자리로 와야함. -> 1일의 요일, 말일의 날 수
    space = data1+1
    last_day = data2
    for _ in range(space):
        print('\t',end='')
        pass
    for day in range(1,last_day+1):
        print(day,end='\t')
        if (space+day)%7==0:
            print() # 선택적으로 실행
        pass
    pass

In [92]:
view_month_complete(1994,8)

1994년 8월
일	월	화	수	목	금	토
	1	2	3	4	5	6
7	8	9	10	11	12	13
14	15	16	17	18	19	20
21	22	23	24	25	26	27
28	29	30	31