In [1]:
# 1 to 10 세로로 출력 (반복문)
a = 0
for i in range(1,11):
    a = i
    print(i, end = "\n")

1
2
3
4
5
6
7
8
9
10

In [2]:
# 1 to 10 n과 m을 사용해서 출력 (반복문)
n = 1
m = 11
for i in range(n,m):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [76]:
# 1 to 10 함수를 사용해서 출력(def)
def print_number(num1,num2):
    n = num1
    m = num2
    for i  in range(n,m):
        print(i)
print_number(1,11)

1
2
3
4
5
6
7
8
9
10

In [5]:
# 두가지 숫자를 입력받기

def print_number(n1,n2):
    for i in range(n1,n2+1):
        print(i)

In [6]:
a = input("input number1 plz >>")
b = input("input number2 plz >>")

a = int(a)
b = int(b)
print_number(a,b)

input number1 plz >>1
input number2 plz >>11
1
2
3
4
5
6
7
8
9
10
11

In [ ]:
# 함수

# 함수의 기본구성

# def 함수이름(매개변수1, 매개변수2, ...):
#     문장
# 출력
# ----
# 결과(리턴값)

# 매개변수의 종류 1. 기본 매개변수 2. 가변 매개변수 3. 키워드 매개변수

In [9]:
# 함수의 기본구성

def print_a(value,n): # 함수이름(매개변수1, 매개변수2)
    for i in range(n): # 문장
        print(value)
        
print_a("Hallo",3) # 출력

#밑에 나온게 결과(리턴값)

Hallo
Hallo
Hallo

In [ ]:
# 가변 매개변수 :

In [37]:
def print_q(n):
    for i in range(n):
        print(n)
        n -= 1

print_q(3)

3
2
1

In [14]:
number = 123
for i in range(3):
    split_number = number % 10
    print(split_number)
    number = number // 10

3
2
1

In [38]:
def print_q(n):
    while True:
        print(n)
        n -= 1
        if n == 0:
            break
            
print_q(3)

3
2
1

In [41]:
number = 12345
split_number = number % 10
print(split_number)
number = number // 10
print(number)
print()
split_number = number % 10
print(split_number)
number = number // 10
print(number)
print()
split_number = number % 10
print(split_number)
number = number // 10
print(number)
print()
split_number = number % 10
print(split_number)
number = number // 10
print(number)
print()
split_number = number % 10
print(split_number)
number = number // 10
print(number)
print()

5
1234

4
123

3
12

2
1

1
0

In [ ]:
# While문

# 기본구성
# While True:
#     if :
#         break

In [43]:
number = 123
while True:
    split_number = number % 10
    print(split_number)
    number = number // 10
    if number == 0:
        break

3
2
1

In [44]:
# 중첩 for문

print('2X1=2')
print('2X2=4')
print('2X3=6')
print('2X4=8')
print('2X5=10')
print('2X6=12')
print('2X7=14')
print('2X8=16')
print('2X9=18')

2X1=2
2X2=4
2X3=6
2X4=8
2X5=10
2X6=12
2X7=14
2X8=16
2X9=18

In [148]:
# a = 2
# for i in range(1,10):
#     print(a)
#     a *= i

m=2
for j in range(3):
    n=0
    for i in range(4):
        n += 1
        print(m,'X',n,'=',m*n)
    m += 1
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16

In [112]:
for m in range(2,6):
    for n in range(1,6):
        print(m,'X',n,'=',m*n)
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10

3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

In [111]:
for m in range(2,6):
    if m == 3:
        continue # 조건을 만족했을 때에 한하여 반복문이 실행되지않음
    for n in range(1,6):
        print("{} X {} = {:2}".format(m,n,m*n))
        # {:2} = 2칸을 기준으로 처리
    print()
#         break

2 X 1 =  2
2 X 2 =  4
2 X 3 =  6
2 X 4 =  8
2 X 5 = 10

4 X 1 =  4
4 X 2 =  8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20

5 X 1 =  5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25

In [115]:
for m in range(2,10):
    if m % 3 == 0: 
        continue   # 3으로 나누었을 때 나머지가 0인 것에 만족하면 실행되지않음
    for n in range(1,10):
        print("{} X {} = {}".format(m,n,m*n))
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [72]:
def double(a):
    cal = a*a
    return cal

res = double(5)

print("Result is", res)

Result is 25

In [99]:
c="Hallo"
input(c)

HalloWorld

'World'

In [104]:
"{}".format(10)
"{} {}".format(10,20) # {} 의 역할은 place holder. 

# format과 .format의 차이
# format은 함수 .format은 점 앞의 string에 대한 method
# format is just function .format is method that front of spot

'10 20'

In [118]:
# string은 불변성

word = "hallo world"
print(word.upper())
print(word)

HALLO WORLD
hallo world

In [119]:
a = " hallo world "
b = a.strip()
print(b)

hallo world

In [123]:
for letter in "hallo":
    print(letter)

h
a
l
l
o

In [125]:
len("hallo")

'h'

In [126]:
word = "hallo"
word[0]

'h'

In [129]:
word[1]
word[4]

'o'

In [130]:
for n in range(5):
    print(word[n]) # n = 0 ~ 4

h
a
l
l
o

In [135]:
# 문자는 for in 사이에 들어갈 수 있음
# print(int())를 통해 문자를 integer화 할 수 있음
number = "123"
for num in number:
    print(int(num))

1
2
3

In [141]:
def split(number):
    for num in number:
        print(int(num)*3)
        
split("4321")

12
9
6
3

In [145]:
word = "Hallo world"
#       12345678901
print(word[0:5])
print(word[6:12])
print(word[4:9])

Hallo
world
o wor

In [146]:
for m in range(2,10):
    if m % 3 == 0: 
        continue
    for n in range(1,10):
        print(f"{m} X {n} = {m*n}")
    print()

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63

8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72

In [ ]:
# 많이 쓰는 매소드 .split .slice .format

In [179]:
# 어떤 년도의 2월이 윤년인지 평년인지 판별하여 마지막 날을 결정한다.
#28,29
#년도를 400으로 나누어 쩔어지거나(or)
#년도를 4로 나누어 떨어지고(and) 100으로 나누어 떨어지지 않는 경우
# 2000년

year = 2000
def is_leap_year(year):
    if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0):
        print(str(year) + "년은 윤년입니다.")
    else:
        print(str(year) + "년은 평년입니다.")

In [182]:
for i in range(2000, 2023):
    is_leap_year(i)

2000년은 윤년입니다.
2001년은 평년입니다.
2002년은 평년입니다.
2003년은 평년입니다.
2004년은 윤년입니다.
2005년은 평년입니다.
2006년은 평년입니다.
2007년은 평년입니다.
2008년은 윤년입니다.
2009년은 평년입니다.
2010년은 평년입니다.
2011년은 평년입니다.
2012년은 윤년입니다.
2013년은 평년입니다.
2014년은 평년입니다.
2015년은 평년입니다.
2016년은 윤년입니다.
2017년은 평년입니다.
2018년은 평년입니다.
2019년은 평년입니다.
2020년은 윤년입니다.
2021년은 평년입니다.
2022년은 평년입니다.

In [189]:
def get_feb_lastday(year):
    lastday = 0
    if year % 400 == 0 \
        or (year % 4 == 0 \
        and year % 100 != 0):
        lastday = 29
    else:
        lastday = 28
        
    return lastday

In [198]:
result = get_feb_lastday(2022)
print(result)

28

In [213]:
# pass ; 전체 골격만 잡아놓기 위해 값을 입력하지않고 지나갈 수 있게하는 키워드

for i in range(10):
    
    
        pass

In [215]:
def is_leap_year(year):
    if year % 400 == 0 or (year % 4 == 0 and year % 100 != 0):
        str(year) = True

SyntaxError: cannot assign to function call (2268779889.py, line 3)

In [219]:
for i in range(2000,2031):
    def get_feb_lastyear(is_leap_year(i)):
        if True
            print('29일입니다.')
        else
            print('28일입니다.')

SyntaxError: invalid syntax (595570092.py, line 2)