In [4]:
# 1 to 10 누적합계 함수 작성

def sum_a(a,b):
    total = 0
    for v in range(a,b+1):
        total += v
    print(total)
    
sum_a(1,10)

55

In [22]:
# 1 to 10 a,b 값 전환

def sum_b(a,b):
    total = 0
    if a > b :
        c = a
        a = b
        b = c
        for w in range(a,b+1):
            total += w
        print(total)
    else :
        for w in range(a,b+1):
            total += w
        print(total)

sum_b(4,-3)

4

In [28]:
# 난수 10개 생성 및 최소값 도출
import random

output = []
for k in range(10):
    temp = random.randrange(1,101)
    if temp not in output:
        output.append(temp)

print(output)
min(output)

[75, 17, 45, 15, 68, 74, 70, 44, 2]

2

In [34]:
# 달력 생성 함수를생성하여 요구사항을 해결하는 코드 작성
# 2022년 달력을 요청에 따라 출력
# 한달 또는 1년 분의 달력 요구 가능
# 원하는만큼 달력요청 가능

month = int(input("what do you want? >>"))
if month == 13 :
    for a in range(1,13):
        def calendar(year, a):
            print(f" 2022년 {a}월")
            print("일\t월\t화\t수\t목\t금\t토")
            blank = [6, 2, 2, 5, 0, 3, 5, 1, 4, 6, 2, 4]
            days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
            for i in range(blank[month-1]):
                print("\t",end='')
            for j in range(1, days[month-1]+1):
                print(j,"\t", end='')
                if (j+blank[month-1]) % 7 == 0 :
                    print()
    
else :
    def calendar(year,month):
        print(f"{year}년 {month}월")
        print("일\t월\t화\t수\t목\t금\t토")
        blank = [6, 2, 2, 5, 0, 3, 5, 1, 4, 6, 2, 4]
        days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
        for i in range(blank[month-1]):
            print("\t",end='')
        for j in range(1, days[month-1]+1):
            print(j,"\t", end='')
            if (j+blank[month-1]) % 7 == 0 :
                print()

calendar(2022,13)

what do you want? >>1
2022년 13월
일	월	화	수	목	금	토

IndexError: list index out of range

In [ ]:
def calendar(month):
        print(f"2022년 {month}월")
        print("일\t월\t화\t수\t목\t금\t토")
        blank = [6, 2, 2, 5, 0, 3, 5, 1, 4, 6, 2, 4]
        days = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31]
        month_a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
        for i in range(blank[month-1]):
            print("\t",end='')
        for j in range(1, days[month-1]+1):
            print(j,"\t", end='')
            if (j+blank[month-1]) % 7 == 0 :
                print()

In [22]:
def calendar_service():
    month = int(input('what do you want? >>'))
    if month == 13:
        for i in range(1, month):
            calendar(i)
            print("\n")
            pass
        pass
    else:
        calendar(month)
        
calendar(12)

2022년 12월
일	월	화	수	목	금	토
				1 	2 	3
4 	5 	6 	7 	8 	9 	10
11 	12 	13 	14 	15 	16 	17
18 	19 	20 	21 	22 	23 	24
25 	26 	27 	28 	29 	30 	31

In [20]:
def calendar_service():
    month = int(input('what do you want? >>'))
    if month == 13:
        for i in range(1, month):
            calendar(i)
            print("\n")
            pass
        pass
    else:
        calendar(month)
        
calendar(12)

2022년 12월
일	월	화	수	목	금	토
				1 	2 	3
4 	5 	6 	7 	8 	9 	10
11 	12 	13 	14 	15 	16 	17
18 	19 	20 	21 	22 	23 	24
25 	26 	27 	28 	29 	30 	31

In [26]:
def calendar_service():
    while True:
        month = int(input('what you want? >'))
        if month == 13:
            for i in range(1,month):
                calendar(i)
                print("\n")
                pass
            pass
        else:
            calendar(month)
            print()
        is_go = input('continue? [1: yes 0: no] >')
        if is_go != '1':
            print('Thank you')
            break
            
calendar_service()

what you want? >1
2022년 1월
일	월	화	수	목	금	토
						1
2 	3 	4 	5 	6 	7 	8
9 	10 	11 	12 	13 	14 	15
16 	17 	18 	19 	20 	21 	22
23 	24 	25 	26 	27 	28 	29
30 	31
continue? [1: yes 0: no] >0
Thank you

In [29]:
def calendar_service():
    while True:
        month = input('what you want? >')
        if month not in ['1','2','3','4','5','6','7','8','9','10','11','12','13']:
            print('only can get number 1 to 13 plz')
            continue
        month = int(month)
        if month == 13:
            for i in range(1,month):
                calendar(i)
                print("\n")
                pass
            pass
        else:
            calendar(month)
            print()
        is_go = input('continue? [1: yes 0: no] >')
        if is_go != '1':
            print('Thank you')
            break
            
calendar_service()

what you want? >q
only can get number 1 to 13 plz
what you want? >rt
only can get number 1 to 13 plz
what you want? >fzd
only can get number 1 to 13 plz
what you want? >낭여
only can get number 1 to 13 plz
what you want? >2
2022년 2월
일	월	화	수	목	금	토
		1 	2 	3 	4 	5
6 	7 	8 	9 	10 	11 	12
13 	14 	15 	16 	17 	18 	19
20 	21 	22 	23 	24 	25 	26
27 	28
continue? [1: yes 0: no] >0
Thank you

In [5]:
import datetime

current_datetime = datetime.datetime.now()
print(current_datetime)

2022-06-30 11:09:49.652114

In [3]:
current_datetime.strftime("%Y/%m/%d %H: %M: %S")

'2022/06/30 11: 06: 37'

In [6]:
from datetime import datetime

a = datetime.now()
print(a)

2022-06-30 11:10:04.155706

In [7]:
datetime.now()

datetime.datetime(2022, 6, 30, 11, 11, 9, 884348)

In [13]:
print(a.year)
print(a.month)
print(a.day)
print(a.hour)
print(a.minute)
print(a.second)
print('date: ',a.date())

2022
6
30
11
10
4
date:  2022-06-30

In [19]:
import calendar

cal_data = calendar.monthrange(2022,6)
print(cal_data)

cal_data = calendar.monthrange(2022,7)
print(cal_data)

cal_data = calendar.monthrange(1994,8)
print(cal_data)

(2, 30)
(4, 31)
(0, 31)

In [ ]:
# function of list ( '[]') 1. 추가 2. 제거 3. 변경
# tuple : 변하지않는 값
# () : 1. 연산에서 우선순위 2. 함수

In [20]:
cal_data = calendar.monthrange(2022,6)
print(cal_data)
print(cal_data[0])
print(cal_data[1])

a,b = calendar.monthrange(2022

(2, 30)
2
30
2
30

In [30]:
import calendar

def new_calendar(year,month):
        print(f"{year}년 {month}월")
        print("일\t월\t화\t수\t목\t금\t토")
        cal_data = calendar.monthrange(year,month)
        blank = cal_data[0] + 1
        days = cal_data[1]
        for f in range(blank):
            print("\t",end='')
        for g in range(1, days+1):
            print(g,"\t", end='')
            if (g+blank) % 7 == 0 :
                print()
                
new_calendar(2022,5)

2022년 5월
일	월	화	수	목	금	토
							1 	2 	3 	4 	5 	6 	7
8 	9 	10 	11 	12 	13 	14
15 	16 	17 	18 	19 	20 	21
22 	23 	24 	25 	26 	27 	28
29 	30 	31

In [31]:
import calendar

def new_calendar(year,month):
        print(f"{year}년 {month}월")
        print("일\t월\t화\t수\t목\t금\t토")
        cal_data = calendar.monthrange(year,month)
        blank = (cal_data[0] + 1)%7
        days = cal_data[1]
        for f in range(blank):
            print("\t",end='')
        for g in range(1, days+1):
            print(g,"\t", end='')
            if (g+blank) % 7 == 0 :
                print()
                
new_calendar(2022,5)

2022년 5월
일	월	화	수	목	금	토
1 	2 	3 	4 	5 	6 	7
8 	9 	10 	11 	12 	13 	14
15 	16 	17 	18 	19 	20 	21
22 	23 	24 	25 	26 	27 	28
29 	30 	31

In [56]:
# 이차원 리스트
# 세 과목의 점수

# 각 변수의 내용을 ','로 분리한 후 리스트화 하여
# score_cards에 저장하는 코드 작성

kim = "kim,20,30,50"
lee = "lee,40,60,70"
choi = "choi,60,40,90"
score_cards = []

# a = kim.split()
# print(a)
# b = lee.split()
# print(b)
# c = choi.split()
# print(c)
# d = a,b,c
# score_cards.append()
for stu in [kim, lee, choi]:
    temp = stu.split(',')
    score_cards.append(temp)
    pass
    
print(score_cards)
for card in score_cards:
    print(card)

[['kim', '20', '30', '50'], ['lee', '40', '60', '70'], ['choi', '60', '40', '90']]
['kim', '20', '30', '50']
['lee', '40', '60', '70']
['choi', '60', '40', '90']

In [60]:
# temp 안의 점수를 정수형으로 변형하는 코드 작성

kim = "kim,20,30,50"
lee = "lee,40,60,70"
choi = "choi,60,40,90"
score_cards = []

for stu in [kim, lee, choi]:
    temp = stu.split(',')
    for num in range(1,4):
        temp[num] = int(temp[num])
    score_cards.append(temp)
    pass
    
print(score_cards)
for card in score_cards:
    print(card)

[['kim', 20, 30, 50, 100], ['lee', 40, 60, 70, 170], ['choi', 60, 40, 90, 190]]
['kim', 20, 30, 50, 100]
['lee', 40, 60, 70, 170]
['choi', 60, 40, 90, 190]

In [61]:
kim = "kim,20,30,50"
lee = "lee,40,60,70"
choi = "choi,60,40,90"
score_cards = []

for stu in [kim, lee, choi]:
    temp = stu.split(',')
    for num in range(1,4):
        temp[num] = int(temp[num])
    temp.append(temp[1]+temp[2]+temp[3])
    score_cards.append(temp)
    pass
    
print(score_cards)
for card in score_cards:
    print(card)

[['kim', 20, 30, 50, 100], ['lee', 40, 60, 70, 170], ['choi', 60, 40, 90, 190]]
['kim', 20, 30, 50, 100]
['lee', 40, 60, 70, 170]
['choi', 60, 40, 90, 190]

In [9]:
# 세 사람의 첫 과목 합계

kim = "kim,20,30,50"
lee = "lee,40,60,70"
choi = "choi,60,40,90"
score_cards = []

for stu in [kim, lee, choi]:
    temp = stu.split(',')
    for num in range(1,4):
        temp[num] =int(temp[num])
    score_cards.append(temp)
    pass

print(score_cards)
for card in score_cards:
    print(card)

[['kim', 20, 30, 50], ['lee', 40, 60, 70], ['choi', 60, 40, 90]]
['kim', 20, 30, 50]
['lee', 40, 60, 70]
['choi', 60, 40, 90]

In [105]:
print(score_cards[1][1]+score_cards[0][1]+score_cards[2][1])

total = 0
for i in range(3):
    total = total + score_cards[i][1]
    pass

print(total)

120
120

In [106]:
# 함수로

def t_class(scr):
    total = 0
    for i in range(3):
        total = total + score_cards[i][scr]
        pass
    print(total)
    
def avr_class(av):
    avrage = 0
    for i in range(3):
        avrage = avrage + score_cards[i][av] // 3
        pass
    print(avrage)

t_class(1)
t_class(2)
t_class(3)
print('\n')
avr_class(1)
avr_class(2)
avr_class(3)

120
130
210


39
43
69

In [114]:
# 강사님 방법
def calcu_subject_total_v2(subject):
    total = 0
    for i in range(len(score_cards)):
        total = total + score_cards[i][subject]
        pass
    
    return total

In [107]:
len(score_cards[0])

4

In [117]:
calcu_subject_total_v2(3)

210

In [120]:
# 딕셔너리의 요소에 접근하기

# 딕셔너리 선연
dictionary = {
    "name": "7D 건조 망고",
    "type": "당절임",
    "ingredient": ["망고", "설탕", "메타중아황산나트륨", "치자황색소"],
    "origin": "필리핀"
}

# 출력
print("name:", dictionary["name"])
print("type:", dictionary["type"])
print("ingredient:", dictionary["ingredient"])
print("origin:", dictionary["origin"])
print()

# 값 변경
dictionary["name"] = "8D 건조 망고"
print("name:", dictionary["name"])


dictionary["ingredient"]
['망고', '설탕', '메타중아황산나트륨', '치자황색소']
dictionary["ingredient"][1]

name: 7D 건조 망고
type: 당절임
ingredient: ['망고', '설탕', '메타중아황산나트륨', '치자황색소']
origin: 필리핀

name: 8D 건조 망고

'설탕'

In [124]:
name = "이름"
dict_key = {
    name: "7D 건조 망고",
    type: "당절임"
}

dict_key
# {"이름": '7D 건조 망고', <class 'type'>: '당절임'}

{'이름': '7D 건조 망고', type: '당절임'}

In [125]:
# 딕셔너리에 값 추가/제거

# 딕셔너리[새로운 키] = 새로운 값

dictionary["price"] = 5000
dictionary

# price : 5000 추가 됨

{'name': '8D 건조 망고',
 'type': '당절임',
 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'],
 'origin': '필리핀',
 'price': 5000}

In [126]:
# 기존 값을 새로운 값으로 대치

dictionary["name"] = "8D 건조 파인애플"
dictionary

{'name': '8D 건조 파인애플',
 'type': '당절임',
 'ingredient': ['망고', '설탕', '메타중아황산나트륨', '치자황색소'],
 'origin': '필리핀',
 'price': 5000}

In [127]:
# 제거

del dictionary["ingredient"]
dictionary

{'name': '8D 건조 파인애플', 'type': '당절임', 'origin': '필리핀', 'price': 5000}

In [128]:
#딕셔너리에 요소 추가

# 딕셔너리 선언
dictionary ={}

# 요소 추가 전, 내용 출력
print("요소 추가 이전:", dictionary)

# 딕셔너리에 요소 추가
dictionary["name"] = "새로운 이름"
dictionary["head"] = "새로운 정신"
dictionary["body"] = "새로운 몸"

# 출력
print("요소 추가 이후:", dictionary)

요소 추가 이전: {}
요소 추가 이후: {'name': '새로운 이름', 'head': '새로운 정신', 'body': '새로운 몸'}

In [129]:
# 딕셔너리에 요소 제거

#딕셔너리 선언
dictionary = {
    "name": "7D 건조 망고",
    "type": "당절임"
}

# 요소 제거 전, 내용 출력
print("요소 제거 이전:", dictionary)

# 요소 제거
del dictionary["name"]
del dictionary["type"]

# 요소 제거 후 내용 출력
print("요소 제거 이후:", dictionary)

요소 제거 이전: {'name': '7D 건조 망고', 'type': '당절임'}
요소 제거 이후: {}

In [130]:
# KeyError 예외

dictionary = {}
dictionary["Key"]

KeyError: 'Key'

In [14]:
def calcu_subject_total_v2(subject):
    total = 0
    for i in range(len(score_cards)):
        total = total + score_cards[i][subject]
        pass
    
    return total

In [13]:
subject={'kor':1,'eng': 2,'geo': 3}

len(subject)
print(subject['eng'])

2

In [ ]:
calcu_subject_total_v2('kor')

In [15]:
def calcu_subject_total_v2(subject_name):
    total = 0
    subject_idx = subject[subject_name]
    for i in range(len(score_cards)):
        total = total + score_cards[i][subject_idx]
        pass
    
    return total

In [18]:
calcu_subject_total_v2('eng')

130

In [20]:
#함수 선언
def sum_all(start, end):
	#변수 선언
	output = 0
	# 반복문을 돌려 숫자를 더함
	for i in range(start, end +1):
		output += i
	return output

#함수 호출
print("0 to 100:", sum_all(0, 100))
print("0 to 1000:", sum_all(0, 1000))
print("50 to 100:", sum_all(50, 100))
print("500 to 1000:", sum_all(500, 1000))

0 to 100: 5050
0 to 1000: 500500
50 to 100: 3825
500 to 1000: 375750