In [9]:
"Hallo! Python~"

# program = pro + gram = 미리 + 작성된 것 = 문장(statement)이 모이는 것
# 문장(statement) = 실행할 수 있는 코드의 최소 단위 = 키워드 + 기호 + 변수(데이터)
# 키워드 : 언어가 처음 만들어질 때 정한 단어 ex) import, print, for, while, etc.
# 기호 ex) "", :, '', (), etc.
# 변수(데이터)

'Hallo! Python~'

In [10]:
print("Hallo~ python!")

Hallo~ python!

In [20]:
print("\t\t\t2022년 5월")
print("일\t월\t화\t수\t목\t금\t토")
print("1\t2\t3\t4\t5\t6\t7")
print("8\t9\t10\t11\t12\t13\t14")
print("15\t16\t17\t18\t19\t20\t21")
print("22\t23\t24\t25\t26\t27\t28")
print("29\t30\t31")

			2022년 5월
일	월	화	수	목	금	토
1	2	3	4	5	6	7
8	9	10	11	12	13	14
15	16	17	18	19	20	21
22	23	24	25	26	27	28
29	30	31

In [24]:
print("\t\t\t2022년 6월")
print("일\t월\t화\t수\t목\t금\t토")
print("\t\t\t1\t2\t3\t4")
print("5\t6\t7\t8\t9\t10\t11")
print("12\t13\t14\t15\t16\t17\t18")
print("19\t20\t21\t22\t23\t24\t25")
print("26\t27\t28\t29\t30")

			2022년 6월
일	월	화	수	목	금	토
			1	2	3	4
5	6	7	8	9	10	11
12	13	14	15	16	17	18
19	20	21	22	23	24	25
26	27	28	29	30

In [111]:
day = 1 # 변수의 초기화 (선언)

print("\t\t\t2022년 5월")
print("일\t월\t화\t수\t목\t금\t토")
for i in range(1,32):
    day = i                 # 종속문장. 종속에 필요한 기호는 콜론(:)과 들여쓰기
    print(day, "\t",end='') #n = 1 to 31
    if day == 7:
        print()
    if day == 14:
        print()
    if day == 21:
        print()
    if day == 28:
        print()
print('a')

    # 기본적으로 print는 세로로 데이터를 처리함. (= end='\n')
    # end='' 로 데이터 처리 방식을 비워서 가로로 처리되게함

			2022년 5월
일	월	화	수	목	금	토
1 	2 	3 	4 	5 	6 	7
8 	9 	10 	11 	12 	13 	14
15 	16 	17 	18 	19 	20 	21
22 	23 	24 	25 	26 	27 	28
29 	30 	31 	a
31

In [61]:
day = 1

print("\t\t\t2022년 5월")
print("일\t월\t화\t수\t목\t금\t토")
for i in range(1,32):
    day = i                 
    print(day, "\t",end='') # end='' -> 데이터 처리 방식 초기화
    if day == 7:
        print()
    if day == 14:
        print()
    if day == 21:
        print()
    if day == 28:
        print()
    print('a') # print('a')가 for문에 종속되어 range만큼 반복 시행됨.

			2022년 5월
일	월	화	수	목	금	토
1 	a
2 	a
3 	a
4 	a
5 	a
6 	a
7
a
8 	a
9 	a
10 	a
11 	a
12 	a
13 	a
14
a
15 	a
16 	a
17 	a
18 	a
19 	a
20 	a
21
a
22 	a
23 	a
24 	a
25 	a
26 	a
27 	a
28
a
29 	a
30 	a
31 	a

In [11]:
day = 1

print("\t\t\t2022년 5월")
print("일\t월\t화\t수\t목\t금\t토")
for i in range(1,32):
    day = i
    print(day, "\t",end='') 
    if i%7 < 1:
        print()

			2022년 5월
일	월	화	수	목	금	토
1 	2 	3 	4 	5 	6 	7
8 	9 	10 	11 	12 	13 	14
15 	16 	17 	18 	19 	20 	21
22 	23 	24 	25 	26 	27 	28
29 	30 	31

In [57]:
# 1 to 10 출력 코드(statement) 작성
num = 0 # 변수의 초기화
for i in range(1,11):
    num = i
    print(num, end='\n')

1
2
3
4
5
6
7
8
9
10

In [52]:
# 짧은 거 할 때엔 이렇게 단순한게 좋을 수 있다.
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [59]:
def printRange(n1,n2):
    num = 0
    num1 = n1
    num2 = n2
    for i in range(num1,num2):
        num = i
        print(num, end='')

111213141516171819

In [58]:
printRange(11,20)

# 프로그램 작성 시 해야할 2가지 작업 (깔끔한 프로그래밍의 조건)
# 고정 제거 -> 변수(데이터)로 고정된 값 제거
# 반복 제거 -> 반복문(for)으로 반복된 문장(statement) 제거
# 한 문장의 실행여부를 결정하는 것은 조건문(if)이다

111213141516171819

In [ ]:
# 식별자 : 이름 붙일 때 사용하는 단어
# 1. 키워드 사용 X
# 2. 특수문자는  언더바(_)만 허용
# 3. 숫자로 시작하면 안됨
# 4. 공백 포함 불가

In [ ]:
# 자료형(Data Type)

# 1. 숫자 : 정수, 실수
# 2. 문자
# 3. 논리 : 참, 거짓

In [67]:
print(3*"Hallo")

HalloHalloHallo

In [70]:
print("\\")

\

In [71]:
# int = intiger = 정수
# float = 실수
# 정수 나누기 연산자 = A//B = A를 B로 나눈 값
# 나머지 연산자 = A%B = A를 B로 나눴을때 나머지값
# 제곱연산자 = A**B = A의 B제곱

#  TypeError 예외 : 서로 다른 유형의 자료를 연산하면 발생
# ex) string + number = 문자열 + 273

In [72]:
a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a**b)
print(a%b)

30
-10
200
0.5
0
100000000000000000000
10

In [101]:
number = 123
print(number%10)
print(int(number/10)%10)
print(int(number/100))
print(number//10%10)
print(number//100)
print(float(number/10)%10)
print(float(number/100))

# split_number = number % 10
# print(split_number)
# number = number // 10

# split_number = number % 10
# print(split_number)
# number = number // 10

# split_number = number % 10
# print(split_number)

for i in range(3):
    split_number = number % 10
    print(split_number)
    number = number // 10
    
# 주석과 for문 결과 같음.

3
2
1
2
1
2.3000000000000007
1.23
3
2
1

In [94]:
ju = 3
print(ju,type(ju))

jupyter = "Hallo"
print(jupyter,type(jupyter))
print(type(ju))

3 <class 'int'>
Hallo <class 'str'>
<class 'int'>

In [96]:
z = 100
z += 10
z += 20
z += 40
print(z)

# += 덧셈 후 대입// -= 뺄셈 후 대입// *= 곱셈 후 대입// /= 나눗셈 후 대입
# %= 나머지값 구한 후 대입// **= 제곱 후 대입

170

In [103]:
# System.out.println("Hallo! World.");

In [107]:
# 입력을 받습니다
string = input("입력> ")

# 출력합니다.
print("자료: ", string)
print("자료형: ",type(string))

입력> Hallo
자료:  Hallo
자료형:  <class 'str'>

In [109]:
# ValueError 예외 : 변환할 수 없는 것을 변환하려 할 때 발생

In [110]:
#숫자를 입력받습니다.
raw_input = input("inch to cm: ")

# 입력받은 데이터를 숫자 자료형으로 변경하고, cm 단위로 변경합니다.
inch = int(raw_input)
cm = inch*2.54

#출력합니다.
print(inch, "inch는 cm 단위로", cm, "cm입니다.")

inch to cm: 6
6 inch는 cm 단위로 15.24 cm입니다.